<div class="mt-4">
    <form method="POST" action="" class="row g-3">
        
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <select name="gender">
            <option value="">--Choose--</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
    </form>
</div>